USE [master]
GO
/****** Object:  Database [Finance]    Script Date: 2021/4/9 17:36:10 ******/
CREATE DATABASE [Finance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Finance', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Finance.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Finance_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Finance_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Finance]
GO
/****** Object:  Table [dbo].[Income]    Script Date: 2021/4/9 17:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Income](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IncomeNum] [int] NOT NULL,
	[IncomeSource] [varchar](50) NULL,
	[IncomeDate] [datetime] NOT NULL,
	[InDelete] [bit] NULL,
 CONSTRAINT [PK_Income] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pay]    Script Date: 2021/4/9 17:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pay](
	[month] [int] NULL,
	[income] [varchar](50) NULL,
	[spend] [varchar](50) NULL,
	[payment] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Spend]    Script Date: 2021/4/9 17:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Spend](
	[spendId] [int] IDENTITY(1,1) NOT NULL,
	[spendName] [varchar](50) NOT NULL,
	[spendNum] [int] NOT NULL,
	[spendDep] [varchar](50) NULL,
	[receiveName] [varchar](50) NOT NULL,
	[expenditure] [varchar](50) NULL,
	[spendDate] [datetime] NOT NULL,
	[sDelete] [bit] NULL,
 CONSTRAINT [PK_Spend] PRIMARY KEY CLUSTERED 
(
	[spendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 2021/4/9 17:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[Juese] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
